div.sfm_upload_container 
{
    width:450px; 
	border: 1px solid #ddd;
}

.sfm_upload_container div.upload_drop_area
{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    min-height: 70px; 
    z-index:2;
    background:#FFFF88; 
    text-align:center; 
    display:none;
}

.sfm_upload_container .upload_drop_area span 
{
    display:block; 
    position:absolute; 
    top: 50%; 
    width:100%; 
    margin-top:-8px; 
    font-weight:bold;
}

.sfm_upload_container .upload_scrollarea
{ 
    width:100%;
    height:145px; 
    position:relative; 
    overflow:auto; 
    clear:both; 
    border-width:0px;
    border-color: #ddd; 
    border-style: solid; 
    padding:0px;
}

.sfm_upload_container ul.upload_files
{
    list-style:none; 
    display:block;
    white-space:nowrap;
    padding:0px; 
    margin:5px 5px;
}

.sfm_upload_container ul.upload_files li
{
    width: 120px;
    display:inline-block; 
    border:1px solid #888; 
    margin:0px 5px; 
	/*For IE 7 */
	zoom:1; 
	*display: inline; 
}
.sfm_upload_container  div.upload_titlebox
{
    overflow:hidden;
    height:16px;
    font-size:12px;
    background:#888;
    padding:2px;
}

.sfm_upload_container div
{
    margin:0px;
}

.sfm_upload_container div.upload_previewbox 
{
    overflow:hidden;
    height:65px;
    text-align: center; 
    margin-top:3px;
}

.sfm_upload_container div.upload_statusbox 
{ 
    overflow:hidden;
    font-size:11px; 
    height:20px; 
    margin:0px 4px 0px 4px; 
    background-repeat: no-repeat;
    padding-left: 20px;
    font-weight:bold;
    background-position:0px 0px;
    padding-top:2px;
}

.sfm_upload_container div.upload_titlebox .closebox
{
    float:right; 
    color:#fff;
    width:20px;
    background:#888;
    text-align:center;
    cursor:default;
    font-weight:bold;
    padding:1px 1px 1px 3px;
}

.sfm_upload_container div.upload_titlebox  .closebox:hover
{
    font-weight:bolder;
    padding:0px 2px 2px 2px;
}

.sfm_upload_container div.upload_titlebox  .closebox:active
{
    padding:1px 1px 1px 3px;
}

.sfm_upload_container div.upload_titlebox .titletext
{
    float:left; 
    color:#fff; 
    font-size:11px;
    font-weight:bold;
    overflow:hide;
    width:80px;
}

.sfm_upload_container div.upload_button
{
    display:inline-block;
    padding:5px 10px;
    background:#666;
    color:#fff;
    font-weight:bold;
    font-size:12px;
    cursor:default;
	/*For IE 7*/
	zoom:1; 
	*display: inline; 
	_height: 30px;
}

.sfm_upload_container div.upload_button:hover
{
    padding:4px 11px 6px 9px;
}

.sfm_upload_container div.upload_button:active
{
    padding:5px 10px;
}

.sfm_upload_container div.progressbox
{
    display:inline-block;
    width:45px;
    height:10px;
    border:1px solid #888;
    vertical-align:middle;
}

.sfm_upload_container div.progreslevel
{
    height:100%;
    width:3%;
    background:#333;
}

.sfm_upload_container  .upload_errorbox
{
    background-image:url('images/1325478930_cross.png');
}
.sfm_upload_container  .upload_successbox
{
    background-image:url('images/1325479145_tick.png');
    text-align: right;
}

.sfm_upload_container  .upload_progress
{
    background-image:url('images/loading2.gif');
}
.sfm_upload_container  .progress_size
{
    display:inline-block;
}